{% extends "neo4j_meetup/views/templates/base.html" %}
{% block content %}
  <div class="row-fluid">
    <h3>{{result.event.data.name}}</h3>

    <div>
      <span> 
        {{result.formatted-date}}, {{result.formatted-time}} at <a href="/venues/{{result.venue.data.id}}">{{result.venue.data.name}}</a>
      </span>

     <div>

     <h4>Attendees ({{result.attendees|count}})</h4>
     <table class="table">
       <thead>
         <th>Name</th>
         <th>Last response</th>
         <th>Time of RSVP</th>
         <th>Guests</th>
       </thead>
       <tbody>
           {% for response in result.attendees %}
           <tr>
             <td><a href="/members/{{response.person.data.id}}">{{response.person.data.name}}</a></td> 
             <td>{{response.rsvp.data.response}}</td>
             <td>{{response.rsvp.data.time|timestamp-to-date}}</td>
             <td>{{response.rsvp.data.guests|guestify}}</td>
           </tr>
     {% endfor %}
      </tbody>
     </table>

     <h4>Dropouts ({{result.dropouts|count}})</h4>
     <table class="table">
       <thead>
         <th>Name</th>
         <th>Last response</th>
         <th>Time of first response</th>
         <th>Time of last response</th>
         <th>Guests</th>
       </thead>
       <tbody>
           {% for response in result.dropouts %}
           <tr>
             <td><a href="/members/{{response.person.data.id}}">{{response.person.data.name}}</a></td> 
             <td>{{response.rsvp.data.response}}</td>
             <td>{{response.initial.data.time|timestamp-to-date}}</td>
             <td>{{response.rsvp.data.time|timestamp-to-date}}</td>
             <td>{{response.rsvp.data.guests|guestify}}</td>
           </tr>
     {% endfor %}
      </tbody>
     </table>


    
</div>


    </div>
  </div>
{% endblock %}
