{% extends "neo4j_meetup/views/templates/base.html" %}
{% block content %}
  <div class="row-fluid">
    <h3>{{result.event.data.name}}</h3>

    <div>
      <span> 
        {{result.formatted-date}}, {{result.formatted-time}} at <a href="/venues/{{result.venue.data.id}}">{{result.venue.data.name}}</a>
      </span>
     <div>

<ul class="nav nav-tabs">
  <li class="active tab"><a href="#attendees" data-toggle="tab">Attendees</a></li>
  <li class="tab"><a href="#interests" data-toggle="tab">Interests</a></li>
  <li class="tab"><a href="#dropouts" data-toggle="tab">Dropouts</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="attendees">

     <h4>{{result.attendees|count}} attendees</h4>
     <table class="table">
       <thead>
         <th>Name</th>
         <th>Last response</th>
         <th>Time of RSVP</th>
         <th>Guests</th>
       </thead>
       <tbody>
           {% for response in result.attendees %}
           <tr>
             <td><a href="/members/{{response.person.data.id}}">{{response.person.data.name}}</a></td> 
             <td>{{response.rsvp.data.response}}</td>
             <td>{{response.rsvp.data.time|timestamp-to-date}}</td>
             <td>{{response.rsvp.data.guests|guestify}}</td>
           </tr>
     {% endfor %}
      </tbody>
     </table>

</div>
 <div class="tab-pane" id="interests">

<div>
   <ul class="cloud">
     {% for topic in topics %}
       <li class="tag"> 
         <a class="tag{{topic.freq|tag-size}}" href="/topics/{{topic.id}}">{{ topic.name }}</a>
         <sup>{{topic.freq}}</sup>
       </li>
     {% endfor %}
   </ul>
</div>
</div>

 <div class="tab-pane" id="dropouts">
     <h4>{{result.dropouts|count}} dropouts</h4>
     <table class="table">
       <thead>
         <th>Name</th>
         <th>Last response</th>
         <th>Time of first response</th>
         <th>Time of last response</th>
         <th>Guests</th>
       </thead>
       <tbody>
           {% for response in result.dropouts %}
           <tr>
             <td><a href="/members/{{response.person.data.id}}">{{response.person.data.name}}</a></td> 
             <td>{{response.rsvp.data.response}}</td>
             <td>{{response.initial.data.time|timestamp-to-date}}</td>
             <td>{{response.rsvp.data.time|timestamp-to-date}}</td>
             <td>{{response.rsvp.data.guests|guestify}}</td>
           </tr>
     {% endfor %}
      </tbody>
     </table>

</div>
</div>
    
</div>


    </div>
  </div>
{% endblock %}
