{% extends "neo4j_meetup/views/templates/base.html" %}
{% block content %}
  <div class="row-fluid">
    <h3>{{result.group.data.name}}</h3>

<ul class="nav nav-tabs">
  <li class="active tab"><a href="#overview" data-toggle="tab">Overview</a></li>
  <li class="tab"><a href="#topics" data-toggle="tab">Topics</a></li>
  <li class="tab"><a href="#otherGroups" data-toggle="tab">Other Groups</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="overview">
    <div>
      <div class="col-md-6">
        <label>Members</label>
        <span>{{result.members}}</span>
      </div>
      <div class="col-md-6">
        <svg id="test1" style="height:400px;width:400px"></svg>
      </div>
    </div>
  </div>

  <div class="tab-pane" id="topics">
     <table class="table">
       <thead>
         <th>Topic</th>
         <th>Members</th>
         <th>%</th>
         <th></th>
       </thead>
       <tbody>
           {% for row in topics %}
           <tr>
            <td width="80%">
              <a href="/topics/{{row.topic.data.id}}">{{row.topic.data.name}}</a>
            </td>
            <td>{{row.count}}</td>
            <td>{{row.percentage}}</td>
            <td><img src="/img/{{row.groupHasTopic}}.png" width="20px" /></td>
           </tr>
     {% endfor %}
      </tbody>
     </table>
  </div>

  <div class="tab-pane" id="otherGroups">
     <table class="table">
       <thead>
         <th>Group</th>
         <th>Common Members</th>
         <th>Combined Members</th>
         <th>%</th>
         <th></th>
       </thead>
       <tbody>
           {% for row in otherGroups %}
           <tr>
            <td width="50%">
              <a href="/groups/{{row.group2.data.id}}">{{row.group2.data.name}}</a>
            </td>
            <td>{{row.commonMembers}}</td>
            <td>{{row.combinedMembers}}</td>
            <td>{{row.percentage}}</td>
           </tr>
     {% endfor %}
      </tbody>
     </table>
  </div>



</div>

{% endblock %}

{% block javascript %}
<script type="text/javascript">
      //Regular pie chart example
      nv.addGraph(function() {
        var chart = nv.models.pieChart()
           .x(function(d) { return d.label })
           .y(function(d) { return Math.round(d.value) })
           .showLabels(true).labelType("percent");

        d3.select("#test1")
          .datum([
            {"label": "This Group Only", "value": "{{result.thisGroupOnly}}"}, 
            {"label": "Member of other group", "value": "{{result.otherGroups}}"}, 
            ])
          .transition().duration(350)
          .call(chart);

        return chart;
      });
    </script>

{% endblock %}

