{% extends "neo4j_meetup/views/templates/base.html" %}
{% block content %}
  <div class="row-fluid">
    <h3>{{result.group.data.name}}</h3>

<ul class="nav nav-tabs">
  <li class="active tab"><a href="#overview" data-toggle="tab">Overview</a></li>
  <li class="tab"><a href="#topics" data-toggle="tab">Topics</a></li>
  <li class="tab"><a href="#otherGroups" data-toggle="tab">Other Groups</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="overview">
    <div>
        <label>Members</label>
        <span>{{result.members}}</span>

        <table class="fill">
          <tbody>
            <tr>
              <td class="color left"
              width="{{result.otherGroupsPercentage}}%">Other Groups ({{result.otherGroups}})</td>
              <td class="color right"
              width="{{result.thisGroupPercentage}}%">This Group
              Only ({{result.thisGroupOnly}})</td>
            </tr>
         </tbody>
        </table>

 
    </div>
  </div>

  <div class="tab-pane" id="topics">
     <table class="table">
       <thead>
         <th>Topic</th>
         <th>Members</th>
         <th>%</th>
         <th></th>
       </thead>
       <tbody>
           {% for row in topics %}
           <tr>
            <td width="80%">
              <a href="/topics/{{row.topic.data.id}}">{{row.topic.data.name}}</a>
            </td>
            <td>{{row.count}}</td>
            <td>{{row.percentage}}</td>
            <td><img src="/img/{{row.groupHasTopic}}.png" width="20px" /></td>
           </tr>
     {% endfor %}
      </tbody>
     </table>
  </div>

  <div class="tab-pane" id="otherGroups">
     <table class="table">
       <thead>
         <th>Group</th>
         <th>Common Members</th>
         <th>Combined Members</th>
         <th>%</th>
         <th></th>
       </thead>
       <tbody>
           {% for row in otherGroups %}
           <tr>
            <td width="50%">
              <a href="/groups/{{row.group2.data.id}}">{{row.group2.data.name}}</a>
            </td>
            <td>{{row.commonMembers}}</td>
            <td>{{row.combinedMembers}}</td>
            <td>{{row.percentage}}</td>
           </tr>
     {% endfor %}
      </tbody>
     </table>
  </div>



</div>

{% endblock %}

{% block javascript %}

{% endblock %}

