{% extends "neo4j_meetup/views/templates/base.html" %}
{% block content %}
  <div class="row-fluid">
    <h3>Upcoming meetups</h3>
    
    <table class="table">
      <thead>
          <tr>
            <th>Title</th>
            <th>Date</th>
            <th>Time</th>
          </tr>
      </thead>  
      <tbody>
        {% for event in events %}
        <tr>
          <td><a href="/events/{{event.id}}">{{event.name}}</a></td>
          <td>{{event.formatted-date}}</td>
          <td>{{event.formatted-time}}</td>
        </tr>
        {% endfor %}

      </tbody>
    </table>
  </div>
{% endblock %}
