{% extends "neo4j_meetup/views/templates/base.html" %}
{% block content %}
  <div class="row-fluid">
    <h3>Upcoming meetups</h3>
    
    <table class="table">
      <thead>
          <tr>
            <th>Title</th>
            <th>Group</th>
            <th>Venue</th>
            <th>Date</th>
            <th>Attendees</th>
            <th>Dropouts</th>
          </tr>
      </thead>  
      <tbody>
        {% for row in upcoming %}
        <tr>
          <td width="30%"><a href="/events/{{row.event.data.id}}">{{row.event.data.name}}</a></td>
          <td width="25%"><a href="/groups/{{row.group.data.id}}">{{row.group.data.name}}</a></td>
          <td width="15%"><a href="/venues/{{row.venue.data.id}}">{{row.venue.data.name}}</a></td>
          <td width="20%"><p>{{row.formatted-date}}</p><p class="initialism">{{row.formatted-time}}</p></td>
          <td width="5%">{{row.attendees}}</td>          
          <td width="5%">{{row.dropouts}}</td>          
        </tr>
        {% endfor %}
    <tr>
        <td colspan="6">
           <h3>Previous meetups</h3>
       </td>
    </tr>
        {% for row in past %}
        <tr>
          <td width="30%"><a href="/events/{{row.event.data.id}}">{{row.event.data.name}}</a></td>
          <td width="25%"><a href="/groups/{{row.group.data.id}}">{{row.group.data.name}}</a></td>
          <td width="15%"><a href="/venues/{{row.venue.data.id}}">{{row.venue.data.name}}</a></td>
          <td width="20%"><p>{{row.formatted-date}}</p><p class="initialism">{{row.formatted-time}}</p></td>
          <td width="5%">{{row.attendees}}</td>          
          <td width="5%">{{row.dropouts}}</td>          
        </tr>
        {% endfor %}

      </tbody>
    </table>


  </div>
{% endblock %}
