{% extends "neo4j_meetup/views/templates/base.html" %}
{% block content %}
  <div class="row-fluid">
    <h3>{{result.member.data.name}} <a href="http://www.meetup.com/members/{{result.member.data.id}}"
    target="_blank"><img src="/img/external.jpg" width="15px" /></a></h3>    
    <div>

<ul class="nav nav-tabs">
  <li class="active tab"><a href="#overview" data-toggle="tab">Overview</a></li>
  <li class="tab"><a href="#groups" data-toggle="tab">Groups</a></li>
  <li class="tab"><a href="#rsvps" data-toggle="tab">RSVPs</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="overview">
    <label>Bio</label>
    <div>    {{result.member.data.bio}} </div>
   
    <label>Interested in</label>
    <div>
      <ul>
        {% for topic in result.topics %}
        <li class="arrow"> <a href="/topics/{{topic.data.id}}">{{ topic.data.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <div class="tab-pane" id="groups">
     <table class="table">
       <thead>
         <th>Group</th>
         <th>Join Date</th>

       </thead>
       <tbody>
           {% for group in result.groups %}
           <tr>
            <td>         <a href="/groups/{{group.group.data.id}}">{{group.group.data.name
         }}</a></td>
            <td>{{group.membership.data.joined|timestamp-to-date}}</td>

           </tr>
     {% endfor %}
      </tbody>
     </table>
  </div>
  <div class="tab-pane" id="rsvps">
     <table class="table">
       <thead>
         <th>Title</th>
         <th>Group</th>
         <th>Date</th>
         <th>Last response</th>
         <th>Time of first response</th>
         <th>Time of last response</th>
         <th>Guests</th>
       </thead>
       <tbody>
           {% for response in result.rsvps %}
           <tr>
             <td><a href="/events/{{response.event.data.id}}">{{response.event.data.name}}</a></td>             
             <td><a href="/groups/{{response.group.data.id}}">{{response.group.data.name}}</a></td>
             <td>{{response.event.data.time|timestamp-to-date}}</td>
             <td>{{response.rsvp.data.response}}</td>
             <td>{{response.initial.data.time|timestamp-to-date}}</td>
             <td>{{response.rsvp.data.time|timestamp-to-date}}</td>
             <td>{{response.rsvp.data.guests|guestify}}</td>
           </tr>
     {% endfor %}
      </tbody>
     </table>

  </div>

</div>
</div>


    </div>
  </div>
{% endblock %}
