{% extends "neo4j_meetup/views/templates/base.html" %}
{% block content %}
  <div class="row-fluid">
    <h3>All Members</h3>
    
    <div id="dynatable"></div>

     <table class="table">
       <thead>
         <th>Name</th>
         <th>Join Date</th>
         <th>RSVP'd Yes</th>
         <th>Most Recent Event</th>
         <th>Event Date</th>
       </thead>
       <tbody>
           {% for row in result %}
           <tr>
             <td><a href="/members/{{row.profile.data.id}}">{{row.profile.data.name}}</a></td>             <td>{{row.profile.data.joined|timestamp-to-date}}</td>
         <td>{{row.rsvps}}</td>
         <td>{{row.recent.event.data.name}}</td>
         <td>{{row.recent.event.data.time|timestamp-to-date}}</td>
           </tr>
     {% endfor %}
      </tbody>
     </table>    
</div>


    </div>
  </div>
{% endblock %}

{% block javascript %}
<script type="text/jsx">
      /**
       * @jsx React.DOM
       */
      var ExampleApplication = React.createClass({
        render: function() {
          var elapsed = Math.round(this.props.elapsed  / 100);
          var seconds = elapsed / 10 + (elapsed % 10 ? '' : '.0' );
          var message =
            'React has been successfully running for ' + seconds + ' seconds.';

          return <p>{message}</p>;
        }
      });
      var start = new Date().getTime();
      setInterval(function() {
        React.renderComponent(
          <ExampleApplication elapsed={new Date().getTime() - start} />,
          document.getElementById('dynatable')
        );
      }, 50);
</script>
{% endblock %}
