{% extends "neo4j_meetup/views/templates/base.html" %}
{% block content %}
  <div class="row-fluid">
    <h3>{{result.venue.data.name}}</h3>

    <div>
      {{result.venue.data.address_1}},
      {{result.venue.data.address_2}}, {{result.venue.data.city}}
    <div>

     <h4>Meetups</h4>
     <table class="table">
       <thead>
         <th>Title</th>
         <th>Date</th>
         <th>Group</th>
        </thead>
       <tbody>
           {% for response in result.meetups %}
           <tr>
             <td><a href="/events/{{response.meetup.data.id}}">{{response.meetup.data.name}}</a></td> 
             <td>{{response.meetup.data.time|timestamp-to-date}}</td>
             <td><a href="/groups/{{response.group.data.id}}">{{response.group.data.name}}</a></td> 
           </tr>
     {% endfor %}
      </tbody>
     </table>


    
</div>


    </div>
  </div>
{% endblock %}
