html,
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
    padding-top: 40px;
}

ul{
overflow:hidden;
padding-left: 0px;
}
li{
display:inline-block;
}

ul li { float: left; }
ul li:before { content: " "; padding: 0 .1em 0 0.5em; }

ul li.arrow { float: left; }
ul li.arrow:before { content: "►"; padding: 0 .1em 0 0.5em; }


ul li.tag {float:none;}
ul li.tag:before { content: ""; padding: 0 .1em 0 0.5em; }
ul li.tab:before { content: ""; padding: 0 .1em 0 0.5em; }

.cloud a.tag1 { font-size: 0.7em; font-weight: 100; }
.cloud a.tag2 { font-size: 0.8em; font-weight: 200; }
.cloud a.tag3 { font-size: 0.9em; font-weight: 300; }
.cloud a.tag4 { font-size: 1.0em; font-weight: 400; }
.cloud a.tag5 { font-size: 1.2em; font-weight: 500; }
.cloud a.tag6 { font-size: 1.4em; font-weight: 600; }
.cloud a.tag7 { font-size: 1.6em; font-weight: 700; }
.cloud a.tag8 { font-size: 1.8em; font-weight: 800; }
.cloud a.tag9 { font-size: 2.2em; font-weight: 900; }
.cloud a.tag10 { font-size: 2.5em; font-weight: 900; }

.cloud { padding: 2px; line-height: 3em; text-align: center; }
.cloud a { padding: 0px; }

.cloud { margin: 0; }
.cloud li { display: inline; }

/* Sortable tables */
table.sortable thead {
     font-weight: bold;
    cursor: default;
}
