html,
body {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
    padding-top: 40px;
}

ul{
overflow:hidden;
padding-left: 0px;
}
li{
display:inline-block;
}

ul li { float: left; }
ul li:before { content: " "; padding: 0 .1em 0 0.5em; }

ul li.arrow { float: left; }
ul li.arrow:before { content: "►"; padding: 0 .1em 0 0.5em; }


ul li.tag {float:none;}
ul li.tag:before { content: ""; padding: 0 .1em 0 0.5em; }
ul li.tab:before { content: ""; padding: 0 .1em 0 0.5em; }


ul.li.paginator:before {content: " "; padding: 0 0 0 0; }

ul.paginator li {
  float: left;
  list-style: none;
  min-width: 30px;
  height: 30px;
  text-align: center;
  border: 1px solid #AAAAAA;
  margin-right: 5px;
}

ul.paginator li.selected {
  background-color: #32CD32;
  color: #000000;
}

.cloud a.tag1 { font-size: 0.7em; font-weight: 100; }
.cloud a.tag2 { font-size: 0.8em; font-weight: 200; }
.cloud a.tag3 { font-size: 0.9em; font-weight: 300; }
.cloud a.tag4 { font-size: 1.0em; font-weight: 400; }
.cloud a.tag5 { font-size: 1.2em; font-weight: 500; }
.cloud a.tag6 { font-size: 1.4em; font-weight: 600; }
.cloud a.tag7 { font-size: 1.6em; font-weight: 700; }
.cloud a.tag8 { font-size: 1.8em; font-weight: 800; }
.cloud a.tag9 { font-size: 2.2em; font-weight: 900; }
.cloud a.tag10 { font-size: 2.5em; font-weight: 900; }

.cloud { padding: 2px; line-height: 3em; text-align: center; }
.cloud a { padding: 0px; }

.cloud { margin: 0; }
.cloud li { display: inline; }

/* Sortable tables */
table.sortable thead {
     font-weight: bold;
    cursor: default;
}

table.fill
{
    width: 100%;
    margin: 10px auto;
    height: 100px;
    border: 1px solid #999;
}

td.color
{
    height: 100%;
    text-align:center;
}

td.left
{
    background-color: #ADC6E9;
}

td.center
{
    background-color: Blue;
}

td.right
{
    background-color: #5E9ECB;
}

.pagination { text-align: center; margin: 20px 0; word-spacing: -1em; }
.pagination li { display: inline-block; list-style: none; font: bold 12px/13px Arial, Helvetica, sans-serif; padding: 5px 9px; color: #999; background: #eee; word-spacing: normal; margin: 0 1px; }
.pagination li.first { margin-right: 10px; }
.pagination li.last { margin-left: 10px; }
.pagination li.current { background: #66CC00; color: #fff; }
.pagination li a { display: inline-block; padding: 5px 9px; margin: -5px -9px; text-decoration: none;}
.pagination li a,
.pagination li a:link,
.pagination li a:visited,
.pagination li a:active { background: #666; color: #fff; }
.pagination li a:hover,
.pagination li a:focus { background: #333; }
.pagination li,
.pagination li a {
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border-radius: 5px;
}